apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cert-manager.io/inject-ca-from: '{{ .Release.Namespace }}/capi-serving-cert'
    controller-gen.kubebuilder.io/version: v0.8.0
  labels:
    app.giantswarm.io/branch: '{{ .Values.project.branch }}'
    app.giantswarm.io/commit: '{{ .Values.project.commit }}'
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
    app.kubernetes.io/name: cluster-api
    app.kubernetes.io/version: '{{ .Chart.AppVersion }}'
    cluster.x-k8s.io/provider: cluster-api
    clusterctl.cluster.x-k8s.io: ""
    clusterctl.cluster.x-k8s.io/move: ""
    helm.sh/chart: cluster-api
  name: machinepools.cluster.x-k8s.io
spec:
  conversion:
    strategy: Webhook
    webhook:
      clientConfig:
        caBundle: Cg==
        service:
          name: capi-webhook-service
          namespace: '{{ .Release.Namespace }}'
          path: /convert
          port: 443
      conversionReviewVersions:
        - v1
        - v1beta1
  group: cluster.x-k8s.io
  names:
    categories:
      - cluster-api
    kind: MachinePool
    listKind: MachinePoolList
    plural: machinepools
    shortNames:
      - mp
    singular: machinepool
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - description: MachinePool replicas count
          jsonPath: .status.replicas
          name: Replicas
          type: string
        - description: MachinePool status such as Terminating/Pending/Provisioning/Running/Failed etc
          jsonPath: .status.phase
          name: Phase
          type: string
        - description: Kubernetes version associated with this MachinePool
          jsonPath: .spec.template.spec.version
          name: Version
          type: string
      name: v1alpha3
      schema: {}
      served: true
      storage: false
      subresources:
        scale:
          specReplicasPath: .spec.replicas
          statusReplicasPath: .status.replicas
        status: {}
    - additionalPrinterColumns:
        - description: Time duration since creation of MachinePool
          jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
        - description: MachinePool replicas count
          jsonPath: .status.replicas
          name: Replicas
          type: string
        - description: MachinePool status such as Terminating/Pending/Provisioning/Running/Failed etc
          jsonPath: .status.phase
          name: Phase
          type: string
        - description: Kubernetes version associated with this MachinePool
          jsonPath: .spec.template.spec.version
          name: Version
          type: string
      name: v1alpha4
      schema: {}
      served: true
      storage: false
      subresources:
        scale:
          specReplicasPath: .spec.replicas
          statusReplicasPath: .status.replicas
        status: {}
    - additionalPrinterColumns:
        - description: Cluster
          jsonPath: .spec.clusterName
          name: Cluster
          type: string
        - description: MachinePool replicas count
          jsonPath: .status.replicas
          name: Replicas
          type: string
        - description: MachinePool status such as Terminating/Pending/Provisioning/Running/Failed etc
          jsonPath: .status.phase
          name: Phase
          type: string
        - description: Time duration since creation of MachinePool
          jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
        - description: Kubernetes version associated with this MachinePool
          jsonPath: .spec.template.spec.version
          name: Version
          type: string
      name: v1beta1
      schema: {}
      served: true
      storage: true
      subresources:
        scale:
          specReplicasPath: .spec.replicas
          statusReplicasPath: .status.replicas
        status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
